canvas {
  border: 1px solid black;
}

.maze.error {
  color: #981313;
}

#maze {
  height: 80vh;
  width: 80vh;
  margin: 0;
  border: 1px solid black;
  position: fixed;
  top: 1em;
  right: 1em;
}

line {
  stroke-linecap: round;
  stroke: blue;
  stroke-width: 2;
  transition: stroke 500ms;
}

line.hidden {
  stroke: rgba(0,0,0,0);
}